extends page
include mixins/subjy-list
include mixins/subjy-header
include mixins/svg

block content
	.home
		main
			+svg("logo", "main-logo")
			h1 Subjify
			p Because we are not robots
		+subjy-header(sample)