extends page

block content
	h1 Login
	if message && message.length > 0
		div.flash-alert message
	form(action="/login" method="post")
		div.email
			label Email
			input(type="text",name="email")
		div.password
			label Password
			input(type="password",name="password")
		button(type="submit") Login
	p You can signup <a href="/signup.html">here</a>