doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			nav
				a(href="/login.html") Login
				a(href="/signup.html") Signup
				a(href="/profile.html") Profile
	block content
