doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			nav
				if (! user)
					a.popup(data-popup="#login-block" href="#") Login
					a.popup(data-popup="#signup-block" href="#") Signup
				else
					a(href="/profile.html") #{user.name}
				div#login-block
					h1 Login
					if message && message.length > 0
						.flash-alert message
					form(action="/login",method="post")
						.email
							label Email
							input(type="text",name="email")
						.password
							label Password
							input(type="password",name="password")
						button(type="submit") Login
				div#signup-block
					h1 Signup
					if message && message.length > 0
						.flash-alert message
					form(action="/signup",method="post")
						.name
							label Name
							input(type="text",name="name")
						.email
							label Email
							input(type="text",name="email")
						.password
							label Password
							input(type="password",name="password")
						button(type="submit") Signup
		block content
		//javascript
		script(src='//code.jquery.com/jquery-2.1.3.min.js')
		script(src='/js/subjify.js')