extends page
include mixins/subjy-header
include mixins/svg
include blocks/text
include blocks/video

block content
	main.subjy
		.side
			+subjy-header()
			.tags
				h4 Tags associés
				ul
					each tag in subjy.tags
						li ##{tag}
		+subjy-header(subjy)
		.content
			each subjyBlock, index in subjy.blocks
				h2.index ##{index + 1}
				h2.text #{subjyBlock.title}
				case subjyBlock.type
					when 'text'
						+text(subjyBlock)
					when 'video'
						+video(subjyBlock)
			+subjy-header()
block script
	if edit
		script(src='/js/edit.js')
