include svg

mixin subjy-header(subj)
	blockquote(class="subjy-header", style="#{subj ? '':'background-color:black;'}")
		link(href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css')
		.quote
			+svg("quote", "subjy-icon")
			if subj
				h4.subject /#{subj.subject}
			if subj
				a(href="/chico/subjies/glenn_gould")
					p(class="title", style="font-family: 'Pirata one', 'Georgia'") #{subj.title}
			else
				p.create.title Créez votre propre /subjy
			if subj
				cite
					@#{subj.author || 'Chico'}
		.mask
			+svg("arrow", "subjy-arrow")